<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background-color:lightgrey;">
<div class="w3-container w3-blue">
  <h5>Lets grab something else</h5>
  <p>
    <%= render 'form', project: @project %>
  </p>
</div>

<div class="w3-container w3-lightgrey">
  <h5>      </h5>
  <p>       </p>
</div>


<div class="w3-container w3-blue">
  <h5>Lets go eat!</h5>
  <p><%= button_to "Home", projects_path, :method => :get %></p>
</div>
</body>
